{% extends 'index.html' %}

{% block main_content %}
<h1>complete word dictionary.</h1>
<ul>
{% for w in words %}
  <i><b>{{ w[0].word }}</b></i><br />
  <u>language:</u> {{ w[0].language }}<br />
  <u>ipa representation:</u> {{ w[0].phonetic_spelling }}<br />
  <u>part(s) of speech:</u> {{ w[0].pos }} <br />
  <ol>
    {% for tmp in w[1] %}
    <li>
      <u>domain of use:</u> {{ tmp.domain }} <br />
      <u>definition:</u>  {{ tmp.definition }}
    </li>
    {% endfor %}
  </ol>
  <hr />
{% endfor %}
</ul>

{% if not words %}
There are no saved words to show.
{% endif %}
{% endblock %}
