{% extends 'index.html' %}

{% block main_content %}
<h1>your linguistic dictionary.</h1>

{% if not words %}
  There are no saved words to show.
{% endif %}

{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}

<ul>
{% for w in words %}
  <b>{{ w.word }}</b><br />
  <u>language:</u> {{ w.language }}<br />
  <u>ipa representation:</u> {{ w.phonetic_spelling }}<br />
  {% for p in w.pos %}
  <u>part(s) of speech:</u> {{ p.part_of_speech }} <br />
  {% endfor %}
  <form  style="display:inline;" method="POST" action="{{ url_for('update', word_id=w.id)}}">
    {{ form2.submit() }}
  </form>

  <form style="display:inline;" method="POST" action="{{ url_for('delete', word_id=w.id)}}">
    {{ form.submit() }}
  </form>
  <hr />
{% endfor %}
</ul>

{% endblock %}
